* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    line-height: 1.6;
    background-image: url("png/pexels-piccinng-3075993 (2).jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff6f6;
}

ul {
    list-style: none;
}

nav {
    background-color: rgba(20, 20, 20, 0.2);
    padding: 15px;
    width: 99%;
    border-radius: 20px;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li:nth-child(3) a {
    color: #fff;
}

nav ul li:nth-child(3) a:hover {
    color: #555;
}

/* card */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;

}

.card {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    transition: all 0.6s ease;
    margin: 0 7px;
    margin-top: 1px;
}

.card:hover {
    transform: rotateY(180deg);
}

.card--front,
.card--back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #f4f4f4;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
}

.card--front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.card--front i {
    font-size: 48px;
    margin-bottom: 20px;
}

.card--front h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card--back {
    transform: rotateY(180deg);
}

.card--back h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card--back p {
    font-size: 16px;
    color: #666;
    padding: 0 20px;
}

.card--dark {
    background-color: #333;
    color: #fff;
}

.card--dark .card--front i {
    color: #000000;
}

.card--dark .card--front h2,
.card--dark .card--back h2 {
    color: #000000;
}

.card--dark .card--back p {
    color: #362a2a;
}

.Contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
	margin-left: 100px;
	font-size: 12px;
}

.Contact a {
	margin-bottom: 1px;
    text-decoration: none;
    color: #fff6f6;
}

.Contact a:hover {
	color: #555;
}

.Contact i {
	font-size: 10px;
}

.Contact-bg {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 4px;
    margin-top: 50px;
    text-align: center;
    backdrop-filter: blur(5px);
}

.contact-gif {
    position: relative;
    width: 150px;
    height: 100px;
    margin-right: 45px;
    background-image: url("contact-5750_256.gif");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-gif p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -75%);
    font-size: 12px;
    margin: 0;
    color: #fff;
}

.about-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border-radius: 10px; 

  }

  .liquid {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    border-radius: 0% 0% 50% 50% / 0 0 100% 100%;
  }
  
  .about img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 115px; 
  }
  
  .about {
    padding: 6rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: 50px;
  }
  
  .left {
    flex-basis: 30%;
    display: flex;
    align-items: center;
  }
  
  .left img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .right {
    flex-basis: 50%;
    padding-left: 2rem;
  }
    
  .about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
  }
  
  .about h1 span {
    color: var(--primary);
  }
  
  .about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .about p {
    font-family: 'Lato', sans-serif;
    color: var(--secondary);
    line-height: 1.9rem;
    margin-bottom: 2rem;
    flex-basis: 65%;
  }
  
  .about .left {
    flex-basis: 30%;
    margin-right: 4%;
  }
  
  .about .socials {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
  }
  
  .about .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-right: 0.8rem;
    border-radius: 50%;
  }
  
  .about .socials a:hover {
    background: var(--primary);
  }